# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.dmypy.json
.pyre/
*.log

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# OS junk
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

# Build artifacts
dist/
build/
*.egg-info/
